certifi
coinpaprika
duneapi
dune-client
psycopg2-binary
python-dotenv
requests
safe-eth-py
slackclient
web3
SQLAlchemy
sqlalchemy-stubs
pandas
numpy
python-dateutil
# dev dependencies
black
mypy
pylint
pytest
