black==22.6.0
certifi==2022.6.15
duneapi==8.0.0
dune-client==1.0.0
mypy<1.0.0
psycopg2-binary>=2.9.6
pylint==2.14.4
pytest==7.1.2
python-dotenv>=0.20.0
coinpaprika>=0.1.0
requests>=2.28.1
safe-cli==0.7.0
safe-eth-py==5.5.0
slackclient==2.9.4
web3==6.5.0
SQLAlchemy~=1.4.48
sqlalchemy-stubs==0.4
pandas==2.0.3
pandas-stubs==2.0.2.230605
