name: pull request
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Setup Python 3.12
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.12'
      - name: Install Requirements
        run:
          pip install -r requirements.txt
      - name: Pylint
        run:
          pylint src/
      - name: Black
        run:
          black --check ./
      - name: Type Check (mypy)
        run: mypy src --strict
      - name: Unit Tests
        run:
          python -m pytest tests/unit
        env:
          NETWORK: 'mainnet'
          NODE_URL_MAINNET: https://ethereum-rpc.publicnode.com
          NODE_URL: https://ethereum-rpc.publicnode.com
          PAYOUTS_SAFE_ADDRESS_MAINNET: '0x0000000000000000000000000000000000000000'
          PAYOUTS_SAFE_ADDRESS: '0x0000000000000000000000000000000000000000'

