name: pull request
on:
  pull_request:
  push:
    branches: [ main ]
jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
      - name: Install Requirements
        run:
          pip3 install -r requirements.txt
      - name: Pylint
        run:
          pylint src/
      - name: Black
        run:
          black --check ./
      - name: Type Check (mypy)
        run: mypy src --strict
      - name: Unit Tests
        run:
          python -m pytest tests/unit
        env:
          # We make a rinkeby request in one unit test
          INFURA_KEY: ${{ secrets.INFURA_KEY }}
